{% extends "twitterhandler/base_site.html" %}

{% block title %} Bar List {% endblock %}
{% block content %}
{% load static %}
<div id="row"> <!-- Title Row -->
	<div class="col-lg-12">
		<h1>Bars<small>  More information about the bars on NorthGate</small></h1>
		<ol class="breadcrumb">
			<li><i class="fa fa-dashboard"></i><a href="index.html"> Dashboard</a></li>
			<li class="active"><i class="fa fa-beer"></i> Bars</li>
		</ol>
		<div class="alert alert-info alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			This is the Bar Section. Feel free to look at Bars and learn more information about them.
		</div>
		<div class="alert alert-warning alert-dismissable hidden-lg hidden-md">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			This table might look better when seen from a desktop. You can also try zooming out if things appear too big.
		</div>
	</div>
</div> <!-- end of Title Row -->
<div id="row">
	<h2> Bars </h2>
	<div class="table-responsibe">
		<table class="table table-bordered table-hover table-striped tablesorter">
			<thead>
				<tr>
					<th><span class="fa fa-beer"></span> Bar/Club <i class="fa fa-sort"></i></th>
					<th><div class="text-center"><span class="fa fa-twitter"></span> Twitter</div></th>
					<th><div class="text-center"><span class="fa fa-facebook"></span> Facebook</div></th>
					<th><div class="text-center"><span class="fa fa-foursquare"></span> FourSquare</div></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>O'Bannons</td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.twitter.com/obannons"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/195263170744"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://4sq.com/6HJPRx"><i class="fa fa-check"></i></a></td>
				</tr>
				<tr>
					<td>Paddock Lane</td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.twitter.com/paddock_lane"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/521255404593066"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://4sq.com/biozlL"><i class="fa fa-check"></i></a></td>
				</tr>
				<tr>
					<td>The Tipsy Turtle</td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.twitter.com/Tipsy_Turtle"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/tipsy.turtle.7"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://4sq.com/a1udKH"><i class="fa fa-check"></i></a></td>
				</tr>
				<tr>
					<td>Rebel Draft House</td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.twitter.com/Rebeldrafthouse"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/RebelDraftHouse"><i class="fa fa-check"></i></a></td>
					<td align="center"></td>
				</tr>
				<tr>
					<td>The Corner Bar</td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.twitter.com/TheCornerCrew"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/thecornerbcs"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://4sq.com/4ETAjG"><i class="fa fa-check"></i></a></td>
				</tr>
				<tr>
					<td>Hookah Station</td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.twitter.com/HookahStation"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/111440935562577"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://4sq.com/arzUvD"><i class="fa fa-check"></i></a></td>
				</tr>
				<tr>
					<td>Foundation Lounge</td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.twitter.com/foundationbcs"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/FoundationLounge"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://4sq.com/pZTOfa"><i class="fa fa-check"></i></a></td>
				</tr>
				<tr>
					<td>Social Lounge</td>
					<td align="center"></td>
					<td align="center"></td>
					<td align="center"></td>
				</tr>
				<tr>
					<td>Gatsby's</td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.twitter.com/GatsbysonNG"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/Gatsbysbcs"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://4sq.com/cta8Sp"><i class="fa fa-check"></i></a></td>
				</tr>
				<tr>
					<td>Sake Bar</td>
					<td align="center"></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/159346940780314"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://4sq.com/98XK5Y"><i class="fa fa-check"></i></a></td>
				</tr>
				<tr>
					<td>Logan's on Campus</td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.twitter.com/LogansOnCampus"><i class="fa fa-check"></i></a></td>
					<td align="center"></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://4sq.com/aY1l0V"><i class="fa fa-check"></i></a></td>
				</tr>
				<tr>
					<td>Cedar Lane</td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.twitter.com/CedarLaneBar"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/48872754743"><i class="fa fa-check"></i></a></td>
					<td align="center"></td>
				</tr>
				<tr>
					<td>Basil Whippets</td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.twitter.com/BasilWhippets"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/111713695530894"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://4sq.com/bR2248"><i class="fa fa-check"></i></a></td>
				</tr>
				<tr>
					<td>Mad Hatters</td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.twitter.com/MadHattersNG"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/madhattersbar"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://4sq.com/a4ORX6"><i class="fa fa-check"></i></a></td>
				</tr>
				<tr>
					<td>Dudley's Draw</td>
					<td align="center"></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/134200796598624"><i class="fa fa-check"></i></a></td>
					<td align="center"></td>
				</tr>
				<tr>
					<td>Dixie Chicken</td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.twitter.com/thedixiechicken"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/135316609853334"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://4sq.com/6iGfND"><i class="fa fa-check"></i></a></td>
				</tr>
				<tr>
					<td>Dry Bean Saloon</td>
					<td align="center"></td>
					<td align="center"></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://4sq.com/c7YkGm"><i class="fa fa-check"></i></a></td>
				</tr>
				<tr>
					<td>The Backyard on NorthGate</td>
					<td align="center"></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/566883813371215"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://4sq.com/1drecJa"><i class="fa fa-check"></i></a></td>
				</tr>
				<tr>
					<td>Daisy Dukes</td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.twitter.com/DaisyDukesBCS"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/DaisyDukesBCS"><i class="fa fa-check"></i></a></td>
					<td align="center"></td>
				</tr>
				<tr>
					<td>Wobbley Monkey</td>
					<td align="center"></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/wobbly.monkey.northgate"><i class="fa fa-check"></i></a></td>
					<td align="center"></td>
				</tr>
				<tr>
					<td>The Ranch on NorthGate</td>
					<td align="center"></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/TheRanchNorthgate"><i class="fa fa-check"></i></a></td>
					<td align="center"></td>
				</tr>
				<tr>
					<td>Shotzis</td>
					<td align="center"></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/schotzis"><i class="fa fa-check"></i></a></td>
					<td align="center"></td>
				</tr>
				<tr>
					<td>Chimys</td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.twitter.com/Chimys_"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/ChimysCollegeStation"><i class="fa fa-check"></i></a></td>
					<td align="center"></td>
				</tr>
				<tr>
					<td>Hurrican Harry's</td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.twitter.com/HarrysBCS"><i class="fa fa-check"></i></a></td>
					<td align="center"><a style="display:block;width:100%;height:100%;text-decoration:none;" href="http://www.facebook.com/HurricaneHarrys"><i class="fa fa-check"></i></a></td>
					<td align="center"></td>
				</tr>
			</tbody>
			</table>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
<script src="js/morris/chart-data-morris.js"></script>
<script src="js/tablesorter/jquery.tablesorter.js"></script>
<script src="js/tablesorter/tables.js"></script>
{% endblock %}