{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>BarCrawl - {% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="css/bootstrap.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'twitterhandler/css/bootstrap.css' %}" />

    <!-- Add custom CSS here -->
    <link href="{% static 'twitterhandler/css/sb-admin.css' %}" rel="stylesheet">
	<link href="{% static 'twitterhandler/css/custom_class.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'twitterhandler/font-awesome/css/font-awesome.min.css' %}">
    <!-- Page Specific CSS -->
     <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css"> 
	
  {% block headerThings%}
  {% endblock%}
	<!-- get weather -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>	
	<script src="{% static 'twitterhandler/js/weather.js' %}" type="text/javascript"></script>

	<link rel="shortcut icon" href="{% static 'twitterhandler/favicon.ico' %}">
  </head>

  <body>
    <script type="text/javascript">GetWeatherForLocation(30.616703,-96.333544,"weatherDiv"); <!--getLocation();--></script>
	<div id="wrapper">

      <!-- NavBar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'twitterhandler:homePage' %}">BarCrawl</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse"> 
          <ul class="nav navbar-nav side-nav"> <!-- side NavBar -->
            <li class="active"><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a></li><!-- EXTRA STUFF After This -->
            <li><a href="{% url 'twitterhandler:locationList' %}"><i class="fa fa-beer"></i> Bars</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> About Us <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'twitterhandler:contactUs' %}"><i class="fa fa-comments"></i> Contact Us</a></li>
				<li><a href="{% url 'twitterhandler:aboutUs' %}"><i class="fa fa-user"></i> Who we are</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user"> <!-- top NavBar -->
            <li class="dropdown alerts-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alerts <span class="badge">2</span> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">NorthGate Weather <span class="label label-danger" id="weatherDiv"></span></a></li>
                <li><a href="#"><span id="curLoc">Your Weather </span><span class="label label-danger" id="geoDiv"> N/A</span></a></li>
              </ul>
            </li>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Admin <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{% url 'admin:index' %}"><i class="fa fa-power-off"></i> Sign in</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>
      <div id="page-wrapper">

        <!-- Title Row -->
        <!-- Other Rows -->

    {% block content %}

    {% endblock %}

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'twitterhandler/js/bootstrap.js' %}"></script>
    {% block extrascript %}
    {% endblock %}
  </body>
</html>
