{% extends "twitterhandler/base_site.html" %}


{% if error_message %}<p><strong>{{error_message }}</strong></p> {% endif %}

{% block title %} {{location.place_name }}{% endblock %}

{% block content %}
{% load static %}

<div id="row">
	<div class="col-lg-12">
		<h1> {{location.place_name }} <small> {{ location.city }}, {{ location.country }}</small></h1>
	</div>
</div>

<ul class="list-group">
<li class="list-group-item"><font color="fbeed5">People Buzzing about {{location.place_name }} :  {{ location.tweeter_count}}</font>  </span></li>
</ul>


<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script>
  function initialize() {
  	var styles = [
    {
      stylers: [
        { hue: "#00ffe6" },
        { saturation: -20 }
      ]
    },{
      featureType: "transit",
      elementType: "geometry",
      stylers: [
        { lightness: 100 },
        { visibility: "simplified" }
      ]
    },{
      featureType: "road",
      elementType: "labels",
      stylers: [
        { visibility: "off" }
      ]
    }
  ];
	var styledMap = new google.maps.StyledMapType(styles,
    	{name: "Styled Map"});
    var map_canvas = document.getElementById('individual_map_canvas');
    var map_options = {
      center: new google.maps.LatLng({{location.lattitude_center}},{{location.longitude_center}}),
      zoom: 19,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }
    var map = new google.maps.Map(map_canvas, map_options)
    map.mapTypes.set('map_style', styledMap);
  	map.setMapTypeId('map_style');
  	var marker = new google.maps.Marker({
      position: new google.maps.LatLng({{location.lattitude_center}},{{location.longitude_center}}),
      map: map,
      title: "{{location.place_name}} "});
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>
  <div class="col-lg-6">
    <div class="panel panel-primary">
      {% if tweets %}
        <div class="panel-heading">
          <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Recent Tweets about {{location.place_name }}</h3>
        </div>
        <div class="panel-body">
        {% for tweet in tweets %}
          <div id="barlist" class="list-group-item">
            <span class="badge">{{ tweet.tweet_created_at}}</span>
            <font color="66CD00"><i class="fa fa-beer"></i></font> 
            <font color="fbeed5">{{ tweet.tweet_text}}</font>
          </div>
              
        {% endfor %}
      {% endif %}
      </div>
    </div>
  </div>

<div id="individual_map_canvas"></div>
</br>
<ol class="breadcrumb"></ol>



{% endblock %}
