{% extends "twitterhandler/base_site.html" %}


{% if error_message %}<p><strong>{{error_message }}</strong></p> {% endif %}

{% block title %} {{location.place_name }}{% endblock %}

{% block content %}
{% load static %}

<h1>{{ location.place_name }}</h1>


<div id="row">
	<div class="col-lg-12">
		<h1> {{location.place_name }} <small> {{ location.city }}, {{ location.country }}</small></h1>
	</div>
</div>

<ul class="list-group">
<li class="list-group-item"> Tweet count {{ location.tweeter_count}} </span></li>
</ul>

{% endblock %}
