{% extends "twitterhandler/base_site.html" %}

{% block title %} Who We Are... {% endblock %}
{% block content %}
{% load static %}
<div id="row"> <!-- title row -->
	<div class="col-lg-12">
			<h1>We are:<small> Doug, Rosbel, Nish</small></h1>
			<ol class="breadcrumb">
				<li><i class="fa fa-dashboard"></i><a href="index.html"> Dashboard</a></li>
				<li class="active"><i class="fa fa-user"></i> Who We Are</li>
			</ol>
	</div>
</div> <!-- end of title row -->
<div id="row">
	<div class="col-lg-12">
		<div class="well">
			<p>We are the makers of BarCrawl!</p>
		</div>
	</div>
</div>
<div id="row"> <!-- row of pictures -->
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"> Doug Lasater</h3>
			</div>
			<div class="panel-body">
				<div class="thumbnail">
					<img src="{% static 'twitterhandler/imgs/doug.jpg' %}">
				<div class="caption">
					<p> This is Doug Lasater </p>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"> Rosbel Sanroman</h3>
			</div>
			<div class="panel-body">
				<div class="thumbnail">
					<img src="{% static 'twitterhandler/imgs/rosbel.jpg' %}">
				<div class="caption">
					<p> This is Rosbel Sanroman </p>
				</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"> Nishaanth Narayanan</h3>
			</div>
			<div class="panel-body">
				<div class="thumbnail">
					<img src="{% static 'twitterhandler/imgs/nish.jpg' %}">
				<div class="caption">
					<p> This is Nishaanth Narayanan </p>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
